<div class="layout layout--row layout--stretch gap--large" style="flex: 1 1 auto; min-height: 0">
  <div class="flex flex--center-y h--full">
    <img class="image image-dither" src="{{ card.img }}" style="max-height: 100%; width: auto" />
  </div>
  <div class="flex flex--col flex--center-x h--full stretch" style="min-width: 0; align-items: flex-start">
    <div class="flex flex--center-y w--full">
      <span class="title stretch" data-clamp="1" style="min-width: 0">{{ card.name }}</span>
      {% if card.mana != "" %}<span class="value value--xsmall value--tnums no-shrink">{{ card.mana }}</span>{% endif %}
    </div>
    <div class="value value--xxsmall w--full" data-clamp="1">{{ card.type }} &middot; {{ card.rarity | capitalize }} #{{ card.cn }}{% if card.pt != "" %} &middot; {{ card.pt }}{% endif %}</div>
    <div class="value value--xxsmall w--full lg:mt--10" style="white-space: pre-line">{{ card.text_first }}</div>
    <div class="hidden lg:flex w--full lg:mt--10">
      <div class="no-shrink" style="width: 100px; height: 100px">{{ card.buy_url | qr_code }}</div>
    </div>
    <div class="value value--xxsmall block w--full lg:mt--10">{% if card.price_eur %}{{ card.price_eur }} &euro; Cardmarket{% if card.price_usd %} &middot; ${{ card.price_usd }} TCG{% endif %}{% else %}Price from {{ release | date: "%b %d" }}{% endif %}{% if card.edhrec_fmt != "" %} &middot; EDHREC {{ card.edhrec_fmt }}{% endif %}</div>
  </div>
</div>

<div class="title_bar">
  <span class="title">{{ set_name }}</span>
  <span class="instance">{{ pos }}/{{ total }}</span>
</div>
