<div class="layout layout--col gap--small" style="display: flex; flex-direction: column; height: 100%; align-items: center">
  <div style="flex: 1 1 0; min-height: 0; display: flex; align-items: center; justify-content: center; width: 100%">
    <img class="image image-dither" src="{{ card.img }}" style="max-height: 100%; max-width: 100%; width: auto" />
  </div>
  <div style="flex: 0 0 auto; width: 100%; text-align: center">
    <div class="title title--small" data-clamp="2">{{ card.name }}</div>
    <div class="value value--xxsmall" data-clamp="1">{{ card.rarity | capitalize }} #{{ card.cn }}{% if card.pt != "" %} &middot; {{ card.pt }}{% endif %}{% if card.mana != "" %} &middot; {{ card.mana }}{% endif %}</div>
    <div class="value value--xxsmall" style="display: block">{% if card.price_eur %}{{ card.price_eur }} &euro; (Cardmarket){% else %}Price from {{ release | date: "%b %d" }}{% endif %}{% if card.edhrec_fmt != "" %} &middot; EDHREC {{ card.edhrec_fmt }}{% endif %}</div>
  </div>
</div>

<div class="title_bar">
  <span class="title">{{ set_name }}</span>
  <span class="instance">{{ pos }}/{{ total }}</span>
</div>
